PORT=5000
MONGO_URI=mongodb://localhost:27017/toolly2
JWT_SECRET=remplaceParUneVraieCleSecrete
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=remplaceParTonCloudName
CLOUDINARY_API_KEY=remplaceParTaApiKey
CLOUDINARY_API_SECRET=remplaceParTonApiSecret
